<div class="row">
  <div class="span6">
    <h4>PROFICIENCY LEVELS</h4>
    <p>
      The proficiency scale describes an individual’s level of expertise in a particular competency. It describes the degree to which an employee possesses a competency.
      Each level in the proficiency scale has a detailed description to help identify an employee’s level of proficiency.<br/> All 3 types of competencies are segregated into 4 proficiency levels:
      <ul class="list">
        <li>Beginner(1)</li>
        <li>Basic(2)</li>
        <li>Intermediate(3)</li>
        <li>Advanced(4)</li>
      </ul>
    </p>

    <p>
      <strong>Proficiency levels explanation:</strong><br/>
      <br/>
      <u>Beginner</u> - You have experience gained in a classroom or a trainee on the job.<br/>
      Focus is on developing through on-the-job experience;
      <br/>
      <u>Basic</u> - You are able to successfully complete tasks in this competency as requested. Help from an expert may be required from time to time, but you can usually perform the skill independently. br  Focus is on applying and enhancing knowledge or skill;
      <ul class="list">
        <li>You have applied this competency to situations occasionally while needing minimal guidance to perform successfully;</li>
        <li>You understand and can discuss the application and implications of changes to processes, policies, and procedures in this area;</li>
      </ul>
      <br/>
      <u>Intermediate</u> - You can perform the actions associated with this skill without assistance. You are certainly recognised within your immediate organisation as "a person to ask" when questions arise regarding this skill.<br/>
      Focus is on broad organisational/professional issues;
      <ul class="list">
        <li>You have consistently provided practical/relevant ideas and perspectives on process or practice improvements which may easily be implemented;</li>
        <li>You are capable of coaching others in applying this competency by translating it into easy to understand terms;</li>
      </ul>
      <br/>
      <u>Advanced</u> - You are known as an expert in this area. You can provide guidance, troubleshoot and answer difficult complex questions related to this area of expertise and the field where the skill is used. Focus is strategic;
      <ul class="list">
        <li>You have demonstrated consistent excellence in applying this competency across multiple projects and/or organisations;</li>
        <li>You are considered the “go to” person in this area within Greenpeace or outside;</li>
        <li>You create new applications for and/or lead the development of reference and resource materials for this competency;</li>
        <li>You are able to diagram or explain the relevant process elements and issues in relation to organisational issues and trends in sufficient detail during discussions and presentations, to foster a greater understanding among internal and external colleagues.</li>
      </ul>
    </p>
  </div>
  <div class="span6">
    <strong>Assessing Proficiency:</strong><br/>
    <br/>
    <p>
    For <strong>organisation</strong> competencies, this would mean:<br/>
      <%= render "helper_text_organisational" %>
    For <strong>functional</strong> competencies this would mean:<br/><br/>
      <%= render "helper_text_functional" %>
    For <strong>leadership</strong> competencies this would mean:<br/><br/>
      <%= render "helper_text_leadership" %>
      <hr />
    </p>
  </div>
</div>
