<div class="row">
  <div class="span6">
    <h4>PROFICIENCY LEVELS</h4>
    <p>
      The proficiency scale describes an individual’s level of expertise in a particular competency. It describes the degree to which an employee possesses a competency.<br/>
      Each level in the <u>proficiency scale</u> has a detailed description to help identify an employee’s level of proficiency. All competencies are segregated into 4 proficiency levels:
      <ul class="list">
        <li>Basic(1)</li>
        <li>Intermediate(2)</li>
        <li>Advanced(3)</li>
        <li>Exemplary (or “Point of reference”)(4)</li>
      </ul>
    </p>
    <hr />
    <p>
      <strong>Proficiency levels explanation:</strong><br/>
      <br/>
      <u>Basic</u> - You have experience gained in previous jobs, internships or during your studies. You are able to successfully complete tasks in this competency as requested. Help from more experienced colleagues may be required from time to time, but you can usually perform the skill independently.<br/>
        Focus is on developing and applying knowledge or skills.
      <ul class="list">
        <li>You have applied this competency to situations occasionally while needing sometimes guidance to perform successfully;</li>
        <li>You understand and can discuss the application and implications of changes to processes, policies, and procedures in this area;</li>
      </ul>
      <hr />
      <u>Intermediate</u> - You perform the actions associated with this skill with very limited assistance. You are recognized within your immediate organization as "a first person to ask" when questions arise regarding this skill.<br/>
        Focus is on professional issues.<br/>
      <ul class="list">
        <li>You have consistently provided practical/relevant ideas and perspectives on process or practice improvements which may easily be implemented;</li>
        <li>You are capable of helping others in applying this competency by translating it into easy to understand terms;</li>
      </ul>
      <hr />
      <u>Advanced</u> - You are known as an expert in this area. You can provide assistance and coaching and answer difficult questions.<br/>
        Focus is on organizational issues.<br/>
      <ul class="list">
        <li>You have demonstrated consistent excellence in applying this competency across multiple projects;</li>
        <li>You are considered the “go to” person in this area within Greenpeace;</li>
        <li>You are able to develop concrete applications for this competency and/or lead the related development of reference and resource materials;</li>
        <li>You are able to diagram or explain the relevant process elements and issues in relation to organisational issues and trends in sufficient detail during discussions and presentations, to foster a greater understanding among internal and external colleagues.</li>
      </ul>
      <hr />
      <u>Exemplary (or "Point of reference")</u> - You are recognized as a point of reference in this area. You provide guidance, troubleshoot and answer the most difficult or complex questions related to this area of expertise, or the field where the skill is used.<br/>
       Focus is strategic;<br/>
      <ul class="list">
        <li>You have demonstrated mastership in applying and enhancing this competency across multiple projects and organisations;</li>
        <li>You are considered the “reference” person in this area within Greenpeace or outside;</li>
        <li>You are able to identify new application needs for this competency, to create and design those new applications and lead the development of reference and resource materials;</li>
        <li>You are able to explain and/or lecture the relevant process elements and issues in relation to strategic issues during discussions and presentations, to foster a deep understanding among internal and external colleagues and audiences.</li>
      </ul>
    </p>
  </div>
  <div class="span6">
    <strong>Assessing Proficiency:</strong><br/>
    <br/>
    <p>
    For <strong>organisation</strong> competencies, this would mean:<br/>
      <%= render "helper_text_organisational" %>
    For <strong>functional</strong> competencies this would mean:<br/><br/>
      <%= render "helper_text_functional" %>
    For <strong>leadership</strong> competencies this would mean:<br/><br/>
      <%= render "helper_text_leadership" %>
      <hr />
    <strong>Assessing Importance:</strong><br/><br/>
      <%= render "helper_text_importance" %>
    </p>
  </div>
</div>
