<ul class="list">
  <li>(1) Beginner – new candidates without work experience may be assessed at the beginner’s proficiency level during recruitment</li>
  <li>(2) Basic – demonstrated some level of competency</li>
  <li>(3) Intermediate – demonstrated solid experience or application of competency</li>
  <li>(4) Advanced – is a role model in application of competency</li>
</ul>
<hr />
