<ul class="list">
  <li>(1) Basic – employees with some leadership potential, who move to a line management role for the first time or who are in the line management role for some years or have experience with small teams</li>
  <li>(2) Intermediate – demonstrated solid leadership capabilities, who have worked with big teams</li>
  <li>(3) Advanced – is an experienced resource role in application of the leadership competency concerned who have worked simultaneously with a number of different teams</li>
  <li>(4) Exemplary - is a reference in application of competency, able to train and coach other line-managers</li>
</ul>
