<ul class="list">
  <li>(1) Beginner – employees who move to a line management role for the first time</li>
  <li>(2) Basic – employees with some leadership potential, who are in the line management role for some years or have experience with small teams</li>
  <li>(3) Intermediate – demonstrated solid leadership capabilities , worked with a number of different teams</li>
  <li>(4) Advanced – is a role model in application of competency</li>
</ul>
