#responsibilities .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}

#navigationleft {
  position: fixed;
  top: 50px;
  left: 7px;
}

#navigationright {
  position: fixed;
  top: 50px;
  right: 7px;
}

.text_field {
  width: 275px;
}

.text_field_long {
  width: 575px;
}

.text_field_long2 {
  width: 975px;
}

.text_area {
  width: 575px;
  height: 180px;
}

ul {
  list-style-type: square;
}

#select_field {
  width: 40pt;
}

#competency_select_field {
  width: 440pt;
}
