#navigationleft {
  position: fixed;
  top: 50px;
  left: 7px;
}

#navigationright {
  position: fixed;
  top: 50px;
  right: 7px;
}

.text_field {
  width: 275px;
}

.text_field_long {
  width: 575px;
}

.text_area {
  width: 575px;
  height: 180px;
}

ul {
  list-style-type: square;
}
